body{
    text-align: center;
    background-color: lightblue;
}
td{
    height: 30px;
    width: 30px;
    background-color: darkgray;
}

.header{
    font-size: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Indie Flower', cursive , sans-serif;
}
.center{
    margin-left: auto;
    margin-right: auto;
}

.clicked{
    background-color: lightgray;
}

.mine{
    background-color: red;
}

.timer{
    font-family: 'Indie Flower', cursive , sans-serif;
    font-weight: bold;
}
.emojy{
    background-color: lightblue;
    width: 45px;
    height: 45px;
    font-size: 22px;

}
.level-line button{
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.flashing{
    background-color: yellow;
}

.btn-begginer{
    background-color: green;
}

.btn-medium{
    background-color: orangered;
}

.btn-expert{
    background-color: red;
}
.best-score{
    margin-top: 20px;
    font-family: 'Indie Flower', cursive , sans-serif;
    font-weight: bold;
}
.best-score .top-header{
    font-size: 25px;
}
.best-score .header{
    font-size: 20px;
    border-bottom:lightblue ;
}
.best-score td{
    width: 100px;
    height: 20px;
}